{% extends "base.html.twig" %}

{% block body %}
    <h1>Results found</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Calculated price</th>
                <th>Seller</th>

            </tr>
        </thead>

        <tbody>
            {% for res in resultats %}
             <tr>
                    <td>{{ res.product.name }}</td>
                    <td>{{ res.state.name }}</td>
                    <td>{{ res.prixMax }}</td>
                    <td>{{ res.user }}</td>
             </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}